# EE 379K Lab 10

## Rohan Nagar and Wenyang Fu

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline

# Problem 2

The output $y_t$ of the AR process

$$y_t = -a_1 y_{t-1} - a_2 y_{t-2} - a_3 y_{t-3} - a_4 y_{t-4} + w_t$$

is the result of passing the input $w_t$ through a linear time filter.

The $z$ transform of the filter is the transfer function between the input and the output. This is equal to

$$H(z) = \frac{1}{AR(z)} = \frac{1}{1 + a_1 z^{-1} + a_2 z^{-2} + a_3 z^{-3} + a_4 z^{-4}}$$

We can also note that in order for $H(z)$ to be a stable filter, and therefore be Wide Sense Stationary, $AR(z)$ must have all of its roots inside the unit circle.

# Problem 3

In [5]:
airline_data = pd.read_csv('data/AirPassengers.csv')
airline_data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

# Problem 4

### Quebec Data

In [3]:
quebec_data = pd.read_csv('data/QuebecCarsales.csv')
quebec_data.head()

     Month  Monthly car sales in Quebec 1960-1968
0  1960-01                                   6550
1  1960-02                                   8728
2  1960-03                                  12026
3  1960-04                                  14395
4  1960-05                                  14587

### Dow Jones Data

In [4]:
dow_data = pd.read_csv('data/DowJones.csv')
dow_data.head()

,Week,"Weekly closings of the Dow-Jones industrial average, July 1971 ? August 1974"
0,1971-W27,890.19
1,1971-W28,901.80
2,1971-W29,888.51
3,1971-W30,887.78
4,1971-W31,858.43