# EE 379K Lab 10

## Rohan Nagar and Wenyang Fu

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline

# Problem 3

In [5]:
airline_data = pd.read_csv('data/AirPassengers.csv')
airline_data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121